@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.slider {
  background-image: url("./images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* animation: bgchange 10s linear infinite; */
  animation-name: bgchange;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  position: relative;
}
.logofont {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 30px;
  color: antiquewhite;
}
.logofont:hover {
  color: #dda15e;
}

.rightnav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.leftnav {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  font-weight: bold;
}

.navbar {
  display: flex;
  position: fixed;
  z-index: 999;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  top: 30px;
  left: 175px;
  /* margin: 0 auto; */
  /* margin-left: 8rem; */
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.35);
}
.button1 {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #ffffff;
}
.leftnav li:hover {
  color: #dda15e;
}
.button1:hover {
  background-color: #ffffff; /* Green */
  color: #dda15e;
}
.fa-arrow-right {
  margin-left: 5px;
  transform: rotate(-36deg);
}

@keyframes bgchange {
  0% {
    background-image: url("./images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg");
  }
  50% {
    background-image: url("./images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg");
  }
  100% {
    background-image: url("./images/happy-loving-couple-bakers-drinking-coffee-looking-notebook.jpg");
  }
}
#c2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #bc6c25;
}
#cafeklang {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 68px;
  color: #ffffff;
}
#c1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.ourstory {
  text-decoration: none;
  color: #ffffff;

  font-size: 16px;
  padding: 12px 28px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 1000;
  margin-right: 10px;
  border-radius: 21px;
}
.ourstory:hover {
  background-color: #ffffff;
  color: #dda15e;
}
.reviews {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(188, 108, 37);
  font-size: 16px;
  padding: 12px 28px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 1000;
  border-radius: 21px;
}
.reviews:hover {
  background-color: rgb(221, 161, 94);
  color: #ffffff;
}
.section1 {
  padding-top: 15px;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-align: center;
  z-index: 99999;
}
.pseudo {
  position: absolute;
  top: 35%;
  left: 37%;
}
.content::after {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%) rotate(45deg);
  width: 250px;
  height: 350px;
  pointer-events: none;
  z-index: -1;
  transition-property: transform;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aboutsection {
  background-color: #49290c;
  height: 120vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 100px;
}
.leftview {
  height: 550px;
  width: 500px;
  position: relative;
  border-radius: 15px;
  background-image: url("./images/barman-with-fruits.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.leftview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(188, 108, 37, 1),
    rgba(0, 0, 0, 0.35)
  );
  border-radius: 15px;
}
.abouttext {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 390px;
  padding-left: 19px;
  z-index: 100;
  position: absolute;
  color: #ffffff;
}

.rightview {
  height: 550px;
  width: 500px;

  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.rightview p {
  line-height: 2;
}
.rightview a {
  border: 3px solid white;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
}
.button2 {
  margin-top: 25px;
}
.team {
  height: 100vh;
  position: relative;
  background-color: #b78752;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "t t t t"
    "c1 c2 c3 c4";
  column-gap: 20px;
}
.top {
  grid-area: t;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-bottom: 20px;
}
.card1 {
  grid-area: c1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card1::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url(./images/team/portrait-elegant-old-man-wearing-suit.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.card1:hover::before {
  transform: scale(1.1);
}
.card1::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 15px;
}
.card1 {
  grid-area: c1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card1::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url(./images/team/portrait-elegant-old-man-wearing-suit.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.card1:hover::before {
  transform: scale(1.1);
}
.card1::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 15px;
}
.card2 {
  grid-area: c2;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card2::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url(./images/team/cute-korean-barista-girl-pouring-coffee-prepare-filter-batch-brew-pour-working-cafe.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.card2:hover::before {
  transform: scale(1.1);
}
.card2::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 15px;
}
.card3 {
  grid-area: c3;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card3::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url(./images/team/small-business-owner-drinking-coffee.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.card3:hover::before {
  transform: scale(1.1);
}
.card3::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 15px;
}
.card4 {
  grid-area: c4;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card4::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url(./images/team/smiley-business-woman-working-cashier.jpg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.card4:hover::before {
  transform: scale(1.1);
}
.card4::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(188, 108, 37, 1)
  );
  border-radius: 15px;
}
.teamblockinfo {
  position: absolute;
  padding: 20px;
  display: grid;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  grid-template-rows: 3fr 1fr;
  z-index: 50;
}
.teaminfo {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: rgb(255 255 255);
  font-size: 20px;
  align-items: flex-end;
}
.teamsubject {
  color: rgb(255 255 255);
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.name {
  font-size: 28px;
  font-weight: 700;
  text-align: start;
  padding-left: 10px;
}
.tag {
  position: relative;
  background-color: #bc6c25;
  font: 2px;
}
.tag::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  border-top: 10px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid #bc6c25;
}
.Cafemenu {
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
  background-image: url(./images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #ffffff;
}
.Outerlayout {
  background-color: rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 42%;
  border-radius: 20px;
}
.foodname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  padding-bottom: 15px;
  align-items: center;
}
.description {
  color: rgba(255, 255, 255, 0.35);

  font-size: 14px;
}
.menuhead {
  text-align: center;
}
.testimonial {
  width: 100%;
  background-color: #7c5c52;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.review {
  text-align: center;
  padding: 70px;
  color: white;
}
.reviewslayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "r1 r2"
    "r3 r4"
    "r5 r6";
  justify-items: center;
  row-gap: 30px;
  color: #ffffff;
}
.recard1 {
  height: 311px;
  width: 478px;
  grid-area: r1;
  background-color: rgb(68, 131, 186);
  border-radius: 20px;
  border: 5px solid white;
}
.recard2 {
  grid-area: r2;
  height: 311px;
  width: 478px;
}
.recard3 {
  grid-area: r3;
  height: 311px;
  width: 478px;
}
.recard4 {
  grid-area: r4;
  height: 311px;
  width: 478px;
  background-color: aqua;
  border-radius: 20px;
  border: 5px solid white;
}
.recard5 {
  grid-area: r5;
  height: 311px;
  width: 478px;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.recard6 {
  grid-area: r6;
  height: 311px;
  width: 478px;
}
.recardbackground {
  position: relative;
  background: url(./images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg);
  height: 40%;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.recarddetails {
  position: relative;
  background-color: #b78752;
  height: 60%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
}
.recardflex {
  position: absolute;
  display: flex;
  margin: 1.5rem;
  align-items: center;
  gap: 10px;
}
.reimage1 {
  background-image: url(./images/reviews/young-woman-with-round-glasses-yellow-sweater.jpg);
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 90px;
}
.reimage2 {
  background-image: url(./images/reviews/senior-man-white-sweater-eyeglasses.jpg);
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 90px;
}
.reimage3 {
  background-image: url(./images/reviews/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
  height: 70px;
  width: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 90px;
}
.recardname {
  font-size: 22px;
}
.recardcontent {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.rating {
  display: flex;
  justify-content: space-between;
  height: 40%;
  align-items: flex-end;
}
.flex2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 10px;
}
.contactus {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background-image: url(./images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.contactoverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(188, 108, 37, 1)
  );
}
.contact {
  padding: 100px 60px;
}
.flex3 {
  position: absolute;
  display: flex;
  width: 90%;
  margin-top: 50px;
}
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.name_email {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.username {
  width: 50%;
}
.email {
  width: 50%;
}
.inputbox {
  margin-top: 10px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  padding: 15px;
  width: 90%;
  border-radius: 10px;
}
input::placeholder {
  font-size: 15px;
  color: #ffffff; /* Replace with your desired color */
  opacity: 1; /* Adjust the opacity if needed */
}
.messagebox {
  background-color: transparent;
  width: 95%;
  height: 150px;
  border-radius: 10px;
}
.messagebox {
  margin-top: 1rem;
  padding: 10px; /* Adjust padding as needed */
  border-color: rgba(
    255,
    255,
    255,
    0.25
  ); 
}
.messagebox::placeholder {
  font-size: 1rem;
  color: #ffffff; 
}
.mapsize {
  height: 300px;
  width: 35rem;
}
.sendmessage {
  text-decoration: none;
  padding: 15px 50px;
  background-color: #bc6c25;
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
}
.sendmessage:hover {
  background-color: #ffffff;
  color: #bc6c25;
}
.footer {
  height: 60vh;
  background-color: #bc6c25;
}
